.animal__button {
    background-color: rgba(30, 36, 38, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 17px 43px;
    font-size: 16px;
    cursor: pointer;
    max-width: 130px;
    margin-top: 100px;
    transition: 1s linear;
}

.animal__button:hover {
    background-color: rgba(239, 187, 96, 1);
}