.footer__quote {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 955px;
    margin-right: auto;
    color: white;
    max-width: 258px;
}
