.footer__columns {
    display: flex;
    color: white;
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 1278px;
}