.header {
  margin: auto;
  display: flex;
  min-height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 48px;
  margin-right: 48px;
}


@media only screen and (max-width: 768px) and (min-width: 425px) {
  .header {

    margin-left: 24px;
    margin-right: 24px;
  }
}

@media only screen and (max-width: 425px) {
  .header {
    padding-top: 7px;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}
