.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 37.08px;
    padding-top: 17px;

    max-width: 984px;
    display: flex;
    justify-content: flex-start;
    width: 690px;
    margin-top: 0;
    margin: 0 0;

}