.header__link {
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    padding-right: 42px;
    transition: 1s linear;
    cursor: pointer;
}



.header__link:hover {
    color: rgba(239, 187, 96, 1);
}