.footer__type {
    font-weight: 600;
    font-size: 79px;
    line-height: 69px;
    margin-top: -30px;
    margin-bottom: 0px;
    margin-left: 132px;
    margin-right: auto;
    color: white;
    max-width: 886px;
    margin-top: 70px;
}
