.footer {
    display: flex;
    position: relative;
    min-height: 350px;
    background-color: #1f1f1f;
    padding-top: 60px;
    padding-bottom: 40px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}