.photos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 120px;
    gap: 40px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    list-style-type: none;
}