.about__span-accent {
    font-weight: 900;
    font-size: 76px;
    line-height: 76px;

    max-width: 782px;
    padding-top: 51px;

    margin-right: auto;
    margin-top: 46px;
    margin-bottom: 0;
}